################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WpfDemo/obj/Debug
/WpfDemo/bin/Debug
